main/app/config/parameters.yml
main/app/config/parameters.*.yml
main/build/
main/phpunit.xml
main/var/*
!main/var/cache
main/var/cache/*
!main/var/cache/.gitkeep
!main/var/logs
main/var/logs/*
!main/var/logs/.gitkeep
!main/var/sessions
main/var/sessions/*
!main/var/sessions/.gitkeep
!main/var/SymfonyRequirements.php
main/vendor
main/web/bundles/
/.idea/